.form__button {
  background-color: white;
  color: black;
  border: none;
  width: 100%;
  padding: 0;
  height: 50px;
  margin-top: 216px;
  border-radius: 2px;
  font-size: 18px;
  line-height: 1.2;
}