.profile__description {
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  margin: 5px 0 0;
}

@media screen and (max-width: 922px) {
  .profile__description {
    font-size: 16px;
  }
}

@media screen and (max-width: 622px) {
  .profile__description {
    font-size: 14px;
    margin: 0;
  }
}