.main {
  max-width: 882px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 922px) {
  .main {
    max-width: 582px;
  }
} 

@media screen and (max-width: 622px) {
  .main {
    max-width: 282px;
  }
}