@import url(./__close-button/tooltip__close-button.css);
@import url(./__container/tooltip__container.css);
@import url(./__image/tooltip__image.css);
@import url(./__text/tooltip__text.css);

.tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  transition: .3s visibility, .3s opacity ease-in-out;
}