.profile__add-button {
  border: 2px solid white;
  border-radius: 2px;
  background: transparent;
  background-image: url(../../../images/icons/add-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  height: 50px;
  min-width: 150px;
  cursor: pointer;
}

@media screen and (max-width: 922px) {
  .profile__add-button {
    min-width: 100px;
  }
}

@media screen and (max-width: 622px) {
  .profile__add-button {
    margin-top: 36px;
    min-width: 282px;
  }
}