@import url(./vendor/normalize.css);
@import url(./fonts/fonts.css);
@import url(./blocks/body/body.css);
@import url(./blocks/root/root.css);
@import url(./blocks/header/header.css);
@import url(./blocks/main/main.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/posts/posts.css);
@import url(./blocks/post/post.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/opacity/opacity.css);
@import url(./blocks/background-opacity/background-opacity.css);
@import url(./blocks/form/form.css);