@import url(../photo-modal/__close-button/photo-modal__close-button.css);
@import url(../photo-modal/__container/photo-modal__container.css);
@import url(../photo-modal/__image/photo-modal__image.css);
@import url(../photo-modal/__title/photo-modal__title.css);
.photo-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  transition: .3s visibility, .3s opacity ease-in-out;
}