.form__input {
  background: none;
  border:none;
  color: white;
  border-bottom: 1px solid #CCCCCC;
  margin-top: 30px;
  padding: 0 0 13px 0;
  font-size: 14px;
  line-height: 1.21;
  width: 100%;
  height: 27px;
}